In [72]:
import numpy as np
import pandas as pd

In [73]:
def euclidian_distance(x, xi):
    distance = 0.0
    for i in range(len(x) - 1):
        distance += (x[i] - xi[i])**2
    return(np.sqrt(distance))

In [74]:
def get_neighbors(train, test_row, num_neighbors):
    distances = list()
    for train_row in train:
        dist = euclidian_distance(train_row, test_row)
        distances.append((train_row, dist))
    distances.sort(key = lambda tup:tup[1])
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return(neighbors)

In [75]:
def make_predictions(train, test_row, num_neighbors):
    neighbors = get_neighbors(train, test_row, num_neighbors)
    output_values = [row[-1] for row in neighbors]
    prediction = max(set(output_values), key= output_values.count)
    return(prediction)

In [76]:
df = pd.read_csv("/content/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [77]:
dataset = np.array(df)
classes = []
for row in dataset:
    classes.append(row[-1])
classes = list(set(classes))
class_dict = {}
count = 0
for i in classes:
    class_dict[i] = count
    count += 1

for row in dataset:
    row[-1] = class_dict[row[-1]]

In [78]:
y_train = [row[-1] for row in dataset]
y_pred = []
for i in range(len(dataset)):
    test_row = dataset[i]
    train = dataset[1:]
    y_pred.append(make_predictions(train, test_row, 3))

In [79]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_train)

1.0